@import './base.css';


body{
    background: radial-gradient(circle, rgba(251,232,166,1) 3%, rgba(244,151,108,1) 60%);
    display: flex;
    color: white;
}

#app { 
    margin: 0 auto;
    height: 100%;
}
